$borderSmall: 1px solid;
html,
body {
  width: 100%;
  position: relative;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
p,
.user-item {
  font-family: helvetica;
  color: #3e3e3e;
}

#app {
  width: 100%;
  position: relative;
}
#profile_view {
  position: relative;
}
#delete_dialog {
  position: fixed;
  width: 400px;
  height: 125px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #ffffff;
  margin: 150px auto;
  border: 1px solid #3e3e3e;
  padding: 10px;
  text-align: center;
  z-index: 999;
  p {
    color: #d00d0d;
    background: #ffa215;
  }
  .close_dialog {
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    right: 10px;
    top: 5px;
    cursor: pointer;
    font-family: Arial;
  }
  .close_dialog:hover {
    color: #d00d0d;
  }
}

#modal_bg {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: #3e3e3e;
  opacity: 0.9;
}
.red {
  border: $borderSmall rgb(255, 12, 12);
}
.green {
  border: $borderSmall rgb(0, 153, 0);
}

#notify-top {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  text-align: center;
  background: #ffad15;
  padding: 10px;
  font-size: 12px;
  .text,
  .buttonsCon {
    display: inline-block;
  }
  .text {
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 5px;
  }
  .buttonsCon {
    .verify,
    .close {
      border-width: 0px;
      padding: 0 5px 2y px 5px;
    }
    .close {
      margin-left: 10px;
    }
  }
}

#member-list {
  position: relative;
}

#loading-background {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(30, 30, 30, 0.5);

  img {
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
